.App {
  background-color:  hsl(235, 16%, 14%);
  height: 100vh;
  box-sizing: content-box;
  font-family: 'Red Hat Text', sans-serif;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*flex-grow: 1;*/

}

body{
  font-size: 14px;
}

.socials{
  position: absolute;
  bottom: 8vh;
  left: 45vw;
}

.socials svg{
  margin: 15px
}